html
{
	background-color:#000080;
}


body
{
	margin: 0;
	font-family: "Mukta",sans-serif;
	font-size: 28px;
}

a
{ 
	font-size: 44px;
	font-weight: 400px;
	text-align: center;
	text-shadow: 2px 2px 4px white;
	color: black;
}

a:hover { color: #E9B64A; }

h1
{
	font-size: 50px;
	font-weight: 400px;
	text-align: center;
	letter-spacing: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 2px 2px 4px black;
	color: white;
}

h2
{
	font-size: 20px;
	font-weight: 400px;
	text-align: center;
	letter-spacing: 8px;
	margin-top: -25px;
	margin-bottom: 0px;
	text-shadow: 2px 2px 4px black;
	color: white;
}

h3
{
	font-size: 44px;
	font-weight: 400px;
	text-align: center;
	letter-spacing: 8px;
	margin-top: 50px;
	margin-bottom: 0px;
	text-shadow: 2px 2px 4px black;
	color: white;
}

.board
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -5px;
}

.card
{
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/karta.png");
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.card:hover
{
	filter: brightness(70%);
}


.cardA
{
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/karta.png");
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
}

.score
{
	margin-top: -10px;
	text-align: center;
	letter-spacing: 4px;
	text-shadow: 2px 2px 4px black;
	font-size:20px;
	color: white;
}